<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EA3099A1F69A9DE009C20FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA309B11F69A9DE009C20FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA309BC1F69A9DE009C20FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
